<div class="site-end">
	<div class="surport">
		<ul class="customer-server">
			<li>
				<a href="javascript:void(0);">
					<i class="xm_font icon-wrench"></i>
					预约维修服务
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<i class="xm_font icon-7days"></i>
					7天无理由退货
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<i class="xm_font icon-15days"></i>
					15天免费换货
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<i class="xm_font icon-gift"></i>
					满150元包邮
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<i class="xm_font icon-location"></i>
					520余家售后网店
				</a>
			</li>
		</ul>
		<div class="help">
			<dl>
				<dt>帮助中心</dt>
				<dd>
					<a href="javascript:void(0);">账户管理</a>
					<a href="javascript:void(0);">购物指南</a>
					<a href="javascript:void(0);">订单操作</a>
				</dd>
			</dl>
			<dl>
				<dt>服务支持</dt>
				<dd>
					<a href="javascript:void(0);">售后政策</a>
					<a href="javascript:void(0);">自助服务</a>
					<a href="javascript:void(0);">相关下载</a>
				</dd>
			</dl>
			<dl>
				<dt>线下门店</dt>
				<dd>
					<a href="javascript:void(0);">小米之家</a>
					<a href="javascript:void(0);">服务网点</a>
					<a href="javascript:void(0);">授权体验店</a>
				</dd>
			</dl>
			<dl>
				<dt>关于小米</dt>
				<dd>
					<a href="javascript:void(0);">了解小米</a>
					<a href="javascript:void(0);">加入小米</a>
					<a href="javascript:void(0);">投资者关系</a>
				</dd>
			</dl>
			<dl>
				<dt>关注我们</dt>
				<dd>
					<a href="javascript:void(0);">新浪微博</a>
					<a href="javascript:void(0);">官方微信</a>
					<a href="javascript:void(0);">联系我们</a>
				</dd>
			</dl>
			<dl>
				<dt>特色服务</dt>
				<dd>
					<a href="javascript:void(0);">F码通道</a>
					<a href="javascript:void(0);">礼物吗</a>
					<a href="javascript:void(0);">防伪查询码</a>
				</dd>
			</dl>
			<div class="contact">
				<h5>400-100-5678</h5>
				<p>
				周一至周日8:00-18:00<br>
				（仅收市话费）
				</p>
				<a href="javascript:void(0);">
					<i class="xm_font icon-message"></i>
				联系客服
				</a>

			</div>
		</div>
	</div>
	<div class="legal">
		<img src="../static/images/mi-logo.png" alt="">
		<div class="f-products">
			<p >
				<a href="javascript:void(0);" class="vertical-line">小米商城</a>
				<a href="javascript:void(0);" class="vertical-line">MIUI</a>
				<a href="javascript:void(0);" class="vertical-line">米家</a>
				<a href="javascript:void(0);" class="vertical-line">米聊</a>
				<a href="javascript:void(0);" class="vertical-line">多看</a>
				<a href="javascript:void(0);" class="vertical-line">游戏</a>
				<a href="javascript:void(0);" class="vertical-line">路由器</a>
				<a href="javascript:void(0);" class="vertical-line">米粉卡</a>
				<a href="javascript:void(0);" class="vertical-line">政企服务</a>
				<a href="javascript:void(0);" class="vertical-line">小米天猫店</a>
				<a href="javascript:void(0);" class="vertical-line">隐私政策</a>
				<a href="javascript:void(0);" class="vertical-line">问题反馈</a>
				<a href="javascript:void(0);">Select Region</a>
			<p >©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2017]1530-131号<br>
			违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试
			</p>
		</div>
		<div class="f-img-group">
			<a href=""><img src="../static/images/truste.png" alt=""></a>
			<a href=""><img src="../static/images/v-logo-1.png" alt="诚信网站"></a>
			<a href=""><img src="../static/images/v-logo-2.png" alt="可信网站"></a>
			<a href=""><img src="../static/images/v-logo-3.png" alt="保障中心"></a>
			<a href=""><img src="../static/images/v-logo-4.png" alt="诚信经营"></a>
		</div>
	</div>
	<p class="slogan">探索黑科技,小米为发烧而生!</p>	
</div>