{{extend ("./layout")}}
{{#block ("link-head")}}
<link rel="stylesheet" href="/static/css/detailheader.css">
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/loginmodal.css">
{{/block}}

{{#block ("main")}}

{{{include ("./detailhead")}}}

<div class="page-nav">
	<div class="wrap">
		<div class="guide-banner">
			<div class="main-banner">
		        <ul class="bn-imgs">
		            <li class="banner-show"><a href="http://www.baidu.com"><img src="../static/images/scroll-banner1.jpg" /></a></li>
		            <li ><a href="http://www.baidu.com"><img src="../static/images/scroll-banner2.jpg" /></a></li>
		            <li ><a href="http://www.baidu.com"><img src="../static/images/scroll-banner3.jpg" /></a></li>
		            <li ><a href="http://www.baidu.com"><img src="../static/images/scroll-banner4.jpg" /></a></li>
		            <li ><a href="http://www.baidu.com"><img src="../static/images/scroll-banner5.jpg" /></a></li>
		        </ul>
		        <div class="bn-arrow">
		            <span class="xm_font icon-left"></span>
		            <span class="xm_font icon-right"></span>
		        </div>
		        <ol class="scroll-index">
		        	<li></li>
		        	<li></li>
		        	<li></li>
		        	<li></li>
		        	<li></li>
		        </ol>
			</div>
		</div>
		<ul class="small-ads">
			<li>
				<ul class="left-group">
					<li class="bottom-border">
						<a href="javascript:void(0);">
							<i class="xm_font icon-cellphone"></i><br>选购手机
						</a>
					</li>
					<li class="left-border bottom-border">
						<a href="javascript:void(0);">
							<i class="xm_font icon-gift"></i><br>企业团购
						</a>
					</li>
					<li class="left-border bottom-border">
						<a href="javascript:void(0);">
							<i class="xm_font icon-fcode"></i><br>F码通道
						</a>
					</li>
					<li >
						<a href="javascript:void(0);">
							<i class="xm_font icon-cellphone"></i><br>米粉卡
						</a>
					</li>
					<li class="left-border">
						<a href="javascript:void(0);">
							<i class="xm_font icon-recycle"></i><br>以旧换新
						</a>
					</li>
					<li class="left-border">
						<a href="javascript:void(0);">
							<i class="xm_font icon-payment"></i><br>话费充值
						</a>
					</li>
				</ul>
			</li>
			<li><a href="javascript:void(0);"><img src="../static/images/s-ads1.jpg" alt=""></a></li>
			<li><a href="javascript:void(0);"><img src="../static/images/s-ads2.jpg" alt=""></a></li>
			<li><a href="javascript:void(0);"><img src="../static/images/s-ads3.jpg" alt=""></a></li>
		</ul>
		<div class="flash-purchase">
			<div class="subject">
				<h2>小米闪购</h2>
				<div class="l-r-arrow">
					<div  href="javascript:void:(0);" class="xm_font icon-left arrow-disable" ></div>
					<div href="javascript:void:(0);" class="xm_font icon-right" ></div>
				</div>
			</div>
			<div class="main-content">
				<div class="countdown">
					<p class="sale-time">22:00场</p>
					<p class="thunder"><img src="../static/images/flashpurchase.png" alt=""></p>
					<p class="text">距离开始还有</p>
					<div class="left-time">
						<div></div>
						<div>:</div>
						<div></div>
						<div>:</div>
						<div></div>
					</div>
				</div>
				<div class="right-scroll scroll-wrap">
					<ul >
						<li class="content">
							<a href="http://www.baidu.com">
								<img src="../static/images/fashpurchase-1.png" alt="">
							</a>
							<br>
							<p class="goods-name">米家小相机 黑色</p>
							<p class="goods-desc">旅行运动360度自拍神器</p>
							<p class="goods-price">649元<del>189</del></p>
						</li>
						<li class="content">							
							<a href="#flashpurcase">
								<img src="../static/images/fashpurchase-2.png" alt="">
							</a>
							<br>
							<p class="goods-name">米家电动剃须刀 黑色</p>
							<p class="goods-desc">旅行运动360度自拍神器</p>
							<p class="goods-price">189元<del>199</del></p>
						</li>
						<li class="content">
							<a href="#flashpurcase">
								<img src="../static/images/fashpurchase-3.png" alt="">
							</a>
							<br>
							<p class="goods-name">米家便携剃须刀 黑色</p>
							<p class="goods-desc">男人必备的第二把剃须刀</p>
							<p class="goods-price">169元<del>179</del></p>
						</li>
						<li class="content">
							<a href="http://www.baidu.com">
								<img src="../static/images/fashpurchase-1.png" alt="">
							</a>
							<br>
							<p class="goods-name">米家小相机 黑色</p>
							<p class="goods-desc">旅行运动360度自拍神器</p>
							<p class="goods-price">649元<del>189</del></p>
						</li>							
						<li class="content">
							<a href="#flashpurcase">
								<img src="../static/images/fashpurchase-4.png" alt="">
							</a>
							<br>
							<p class="goods-name">米家全景相机套装 黑色</p>
							<p class="goods-desc">旅行运动360度自拍神器</p>
							<p class="goods-price">1599元<del>1699</del></p>
						</li>
						<li class="content">
							<a href="#flashpurcase">
								<img src="../static/images/fashpurchase-6.png" alt="">
							</a>
							<br>
							<p class="goods-name">米家车载空气净化器(useb...)</p>
							<p class="goods-desc">高效净化车内空气</p>
							<p class="goods-price">389元<del>499</del></p>
						</li>
						<li class="content">
							<a href="#flashpurcase">
								<img src="../static/images/fashpurchase-7.png" alt="">
							</a>
							<br>
							<p class="goods-name">米兔智能积木 白色</p>
							<p class="goods-desc">动手又动脑</p>
							<p class="goods-price">1599元<del>1699</del></p>
						</li>
						<li class="content">
							<a href="#flashpurcase">
								<img src="../static/images/fashpurchase-4.png" alt="">
							</a>
							<br>
							<p class="goods-name">小默相机 白色</p>
							<p class="goods-desc">发现新视角,自拍大不同</p>
							<p class="goods-price">379元<del>399</del></p>
						</li>
					</ul>
				</div>
			</div>		
			<div class="horizontal-ads">
			  <a  href="#">
			  	<img src="../static/images/horizontal-ads1.jpg" alt="">
			  </a>
		    </div>
		</div>
	</div>
</div>
<div class="page-main">
	<div class="wrap">
		<div class="cellphone-area">
			<div class="subject">
				<h2>手机</h2>
				<a class="see-all" href="#" >查看全部<b class="roundright">></b></a>
			</div>
			<div class="item-group">
				<div class="vertical-ads">
					<a href="http://www.baidu.com">
						<img src="../static/images/left-ads.jpg" alt="">
					</a>
				</div>
				<ul class="tab show">
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/cellphone-1.png" alt="">
						</a>
						<p class="goods-name">
							<a href="javascript:void(0);">红米A6</a>
						</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/cellphone-1.png" alt="">
						</a>
						<p class="goods-name">
							<a href="javascript:void(0);">红米A6</a>
						</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/cellphone-1.png" alt="">
						</a>
						<p class="goods-name">
							<a href="javascript:void(0);">红米A6</a>
						</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/cellphone-1.png" alt="">
						</a>
						<p class="goods-name">
							<a href="javascript:void(0);">红米A6</a>
						</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/cellphone-1.png" alt="">
						</a>
						<p class="goods-name">
							<a href="javascript:void(0);">红米A6</a>
						</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/cellphone-1.png" alt="">
						</a>
						<p class="goods-name">
							<a href="javascript:void(0);">红米A6</a>
						</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/cellphone-1.png" alt="">
						</a>
						<p class="goods-name">
							<a href="javascript:void(0);">红米A6</a>
						</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/cellphone-1.png" alt="">
						</a>
						<p class="goods-name">
							<a href="javascript:void(0);">红米A6</a>
						</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>

				</ul>
			</div>
			<div class="horizontal-ads">
				<a href="#">
					<img src="../static/images/horizontal-ads2.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="main-detail furniture-area">
			<div class="subject">
				<h2>家电</h2>
				<ul class="tab-title">
					<li>
						<a href="javascript:void(0);">热门</a>
					</li>
					<li>
						<a href="javascript:void(0);">电视影音</a>
					</li>
				</ul>
			</div>
			<div class="item-group-tab">
				<div class="vertical-ads">
					<div class="ad-s">
						<a href="http://www.baidu.com">
						<img src="../static/images/ad-s.jpg" alt="">
						</a>
					</div>				
					<div class="ad-s">
						<a href="http://www.baidu.com">
						<img src="../static/images/ad-s.jpg" alt="">
						</a>
					</div>
				</div>				
				<ul class="tab show">
					<li class="content">
						<p class="discount-tag">减100元</p>
						<a href="http://www.baidu.com">
							<img src="../static/images/tv.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>好好好好好</span><br>
								<span>来自于*****的评价</span>
							</a>
						</div>
						<p class="goods-name">小米电视4A 43英寸青春版</p>
						<p class="goods-desc">全高清屏/智能语音</p>
						<p class="goods-price">1499元<del>1699元</del></p>
						
					</li>

					<li class="content">
						<p class="discount-tag">减100元</p>
						<a href="http://www.baidu.com">
							<img src="../static/images/tv.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>好好好好好</span><br>
								<span>来自于*****的评价</span>
							</a>
						</div>
						<p class="goods-name">小米电视4A 43英寸青春版</p>
						<p class="goods-desc">全高清屏/智能语音</p>
						<p class="goods-price">1499元<del>1699元</del></p>
						
					</li>
					<li class="content">
						<p class="discount-tag">减100元</p>
						<a href="http://www.baidu.com">
							<img src="../static/images/tv.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>好好好好好</span><br>
								<span>来自于*****的评价</span>
							</a>
						</div>
						<p class="goods-name">小米电视4A 43英寸青春版</p>
						<p class="goods-desc">全高清屏/智能语音</p>
						<p class="goods-price">1499元<del>1699元</del></p>
						
					</li>
					<li class="content">
						<p class="discount-tag">减100元</p>
						<a href="http://www.baidu.com">
							<img src="../static/images/tv.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>好好好好好</span><br>
								<span>来自于*****的评价</span>
							</a>
						</div>
						<p class="goods-name">小米电视4A 43英寸青春版</p>
						<p class="goods-desc">全高清屏/智能语音</p>
						<p class="goods-price">1499元<del>1699元</del></p>
						
					</li>
					<li class="content">
						<p class="discount-tag">减100元</p>
						<a href="http://www.baidu.com">
							<img src="../static/images/tv.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>好好好好好</span><br>
								<span>来自于*****的评价</span>
							</a>
						</div>
						<p class="goods-name">小米电视4A 43英寸青春版</p>
						<p class="goods-desc">全高清屏/智能语音</p>
						<p class="goods-price">1499元<del>1699元</del></p>
						
					</li>
					<li class="content">
						<p class="discount-tag">减100元</p>
						<a href="http://www.baidu.com">
							<img src="../static/images/tv.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>好好好好好</span><br>
								<span>来自于*****的评价</span>
							</a>
						</div>
						<p class="goods-name">小米电视4A 43英寸青春版</p>
						<p class="goods-desc">全高清屏/智能语音</p>
						<p class="goods-price">1499元<del>1699元</del></p>
						
					</li>
					<li class="content">
						<p class="discount-tag">减100元</p>
						<a href="http://www.baidu.com">
							<img src="../static/images/tv.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>好好好好好</span><br>
								<span>来自于*****的评价</span>
							</a>
						</div>
						<p class="goods-name">小米电视4A 43英寸青春版</p>
						<p class="goods-desc">全高清屏/智能语音</p>
						<p class="goods-price">1499元<del>1699元</del></p>
					</li>					
					<li class=" half-1st">
						<a href="javascript:void(0);"><img src="../static/images/camera.jpg" alt=""></a>
						<a href="javascript:void(0);">小米净水器...</a>
						<p>1999元</p>
					</li>
					<li class=" half-2nd">						
						<a><i class="xm_font icon-roundright"></i></a>
						<h3><a href="javascript:void(0);">浏览更多</a></h3>
						<a>热门</a>
					</li>
			    </ul>
			    <ul class="tab">
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/kettle.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>一流的服务，一流的技术，一流的设备，一流的设施</span><br>
								<span>来自于XXX的评价</span>
							</a>
						</div>
						<p class="goods-name">红米A6</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/kettle.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>一流的服务，一流的技术，一流的设备，一流的设施</span><br>
								<span>来自于XXX的评价</span>
							</a>
						</div>
						<p class="goods-name">红米A6</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/kettle.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>一流的服务，一流的技术，一流的设备，一流的设施</span><br>
								<span>来自于XXX的评价</span>
							</a>
						</div>
						<p class="goods-name">红米A6</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/kettle.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>一流的服务，一流的技术，一流的设备，一流的设施</span><br>
								<span>来自于XXX的评价</span>
							</a>
						</div>
						<p class="goods-name">红米A6</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/kettle.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>一流的服务，一流的技术，一流的设备，一流的设施</span><br>
								<span>来自于XXX的评价</span>
							</a>
						</div>
						<p class="goods-name">红米A6</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/kettle.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>一流的服务，一流的技术，一流的设备，一流的设施</span><br>
								<span>来自于XXX的评价</span>
							</a>
						</div>
						<p class="goods-name">红米A6</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<p class="discount-tag">减50</p>
						<a href="http://www.baidu.com">
							<img src="../static/images/kettle.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>一流的服务，一流的技术，一流的设备，一流的设施</span><br>
								<span>来自于XXX的评价</span>
							</a>
						</div>
						<p class="goods-name">红米A6</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class=" half-1st">
							<a href="javascript:void(0);"><img src="../static/images/camera.jpg" alt=""></a>
							<a href="javascript:void(0);">小米净水器...</a>
							<p>1999元</p>
					</li>
					<li class=" half-2nd">						
						<a href="#"><i class="xm_font icon-roundright"></i></a>
						<h3 href="javascript:void(0);"><a href="javascript:void(0);">浏览更多</a></h3>
						<a href="#">热门</a>
					</li>
			    </ul>
			</div>
			<a href="#" class="horizontal-ads"><img src="../static/images/horizontal-ads3.jpg" alt="">
			</a>
		</div>
		<div class="main-detail furniture-area">
			<div class="subject">
				<h2>家电</h2>
				<ul class="tab-title">
					<li>
						<a href="javascript:void(0);">热门</a>
					</li>
					<li>
						<a href="javascript:void(0);">电视影音</a>
					</li>
				</ul>
			</div>
			<div class="item-group-tab">
				<div class="vertical-ads">
					<div class="ad-s">
						<a href="http://www.baidu.com">
						<img src="../static/images/ad-s.jpg" alt="">
						</a>
					</div>				
					<div class="ad-s">
						<a href="http://www.baidu.com">
						<img src="../static/images/ad-s.jpg" alt="">
						</a>
					</div>
				</div>				
				<ul class="tab show">
					<li class="content">
						<p class="discount-tag">减100元</p>
						<a href="http://www.baidu.com">
							<img src="../static/images/tv.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>好好好好好</span><br>
								<span>来自于*****的评价</span>
							</a>
						</div>
						<p class="goods-name">小米电视4A 43英寸青春版</p>
						<p class="goods-desc">全高清屏/智能语音</p>
						<p class="goods-price">1499元<del>1699元</del></p>
						
					</li>

					<li class="content">
						<p class="discount-tag">减100元</p>
						<a href="http://www.baidu.com">
							<img src="../static/images/tv.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>好好好好好</span><br>
								<span>来自于*****的评价</span>
							</a>
						</div>
						<p class="goods-name">小米电视4A 43英寸青春版</p>
						<p class="goods-desc">全高清屏/智能语音</p>
						<p class="goods-price">1499元<del>1699元</del></p>
						
					</li>
					<li class="content">
						<p class="discount-tag">减100元</p>
						<a href="http://www.baidu.com">
							<img src="../static/images/tv.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>好好好好好</span><br>
								<span>来自于*****的评价</span>
							</a>
						</div>
						<p class="goods-name">小米电视4A 43英寸青春版</p>
						<p class="goods-desc">全高清屏/智能语音</p>
						<p class="goods-price">1499元<del>1699元</del></p>
						
					</li>
					<li class="content">
						<p class="discount-tag">减100元</p>
						<a href="http://www.baidu.com">
							<img src="../static/images/tv.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>好好好好好</span><br>
								<span>来自于*****的评价</span>
							</a>
						</div>
						<p class="goods-name">小米电视4A 43英寸青春版</p>
						<p class="goods-desc">全高清屏/智能语音</p>
						<p class="goods-price">1499元<del>1699元</del></p>
						
					</li>
					<li class="content">
						<p class="discount-tag">减100元</p>
						<a href="http://www.baidu.com">
							<img src="../static/images/tv.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>好好好好好</span><br>
								<span>来自于*****的评价</span>
							</a>
						</div>
						<p class="goods-name">小米电视4A 43英寸青春版</p>
						<p class="goods-desc">全高清屏/智能语音</p>
						<p class="goods-price">1499元<del>1699元</del></p>
						
					</li>
					<li class="content">
						<p class="discount-tag">减100元</p>
						<a href="http://www.baidu.com">
							<img src="../static/images/tv.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>好好好好好</span><br>
								<span>来自于*****的评价</span>
							</a>
						</div>
						<p class="goods-name">小米电视4A 43英寸青春版</p>
						<p class="goods-desc">全高清屏/智能语音</p>
						<p class="goods-price">1499元<del>1699元</del></p>
						
					</li>
					<li class="content">
						<p class="discount-tag">减100元</p>
						<a href="http://www.baidu.com">
							<img src="../static/images/tv.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>好好好好好</span><br>
								<span>来自于*****的评价</span>
							</a>
						</div>
						<p class="goods-name">小米电视4A 43英寸青春版</p>
						<p class="goods-desc">全高清屏/智能语音</p>
						<p class="goods-price">1499元<del>1699元</del></p>
					</li>					
					<li class=" half-1st">
						<a href="javascript:void(0);"><img src="../static/images/camera.jpg" alt=""></a>
						<a href="javascript:void(0);">小米净水器...</a>
						<p>1999元</p>
					</li>
					<li class=" half-2nd">						
						<a><i class="xm_font icon-roundright"></i></a>
						<h3><a href="javascript:void(0);">浏览更多</a></h3>
						<a>热门</a>
					</li>
			    </ul>
			    <ul class="tab">
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/kettle.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>一流的服务，一流的技术，一流的设备，一流的设施</span><br>
								<span>来自于XXX的评价</span>
							</a>
						</div>
						<p class="goods-name">红米A6</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/kettle.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>一流的服务，一流的技术，一流的设备，一流的设施</span><br>
								<span>来自于XXX的评价</span>
							</a>
						</div>
						<p class="goods-name">红米A6</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/kettle.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>一流的服务，一流的技术，一流的设备，一流的设施</span><br>
								<span>来自于XXX的评价</span>
							</a>
						</div>
						<p class="goods-name">红米A6</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/kettle.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>一流的服务，一流的技术，一流的设备，一流的设施</span><br>
								<span>来自于XXX的评价</span>
							</a>
						</div>
						<p class="goods-name">红米A6</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/kettle.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>一流的服务，一流的技术，一流的设备，一流的设施</span><br>
								<span>来自于XXX的评价</span>
							</a>
						</div>
						<p class="goods-name">红米A6</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/kettle.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>一流的服务，一流的技术，一流的设备，一流的设施</span><br>
								<span>来自于XXX的评价</span>
							</a>
						</div>
						<p class="goods-name">红米A6</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class="content">
						<p class="discount-tag">减50</p>
						<a href="http://www.baidu.com">
							<img src="../static/images/kettle.jpg" alt="">
						</a>
						<div class="comment">
							<a href="javascript:void(0);">
								<span>一流的服务，一流的技术，一流的设备，一流的设施</span><br>
								<span>来自于XXX的评价</span>
							</a>
						</div>
						<p class="goods-name">红米A6</p>
						<p class="goods-desc">AI人脸解锁,小巧全面屏幕,高性能处...</p>
						<p class="goods-price">599元</p>
					</li>
					<li class=" half-1st">
							<a href="javascript:void(0);"><img src="../static/images/camera.jpg" alt=""></a>
							<a href="javascript:void(0);">小米净水器...</a>
							<p>1999元</p>
					</li>
					<li class=" half-2nd">						
						<a href="#"><i class="xm_font icon-roundright"></i></a>
						<h3 href="javascript:void(0);"><a href="javascript:void(0);">浏览更多</a></h3>
						<a href="#">热门</a>
					</li>
			    </ul>
			</div>
			<a href="#" class="horizontal-ads"><img src="../static/images/horizontal-ads3.jpg" alt="">
			</a>
		</div>							
		<div class="recommend-area">
			<div class="subject">
				<h2>为你推荐</h2>
				<div class="l-r-arrow">
					<div  href="javascript:void(0);"  class="xm_font icon-left arrow-disable" id="recommend-left"></div>
					<div href="javascript:void(0);" class="xm_font icon-right"  id="recommend-right"></div>
				</div>
			</div>
			<div class="recommend-scroll scroll-wrap" >
				<ul >
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/earphone.jpg" alt="">
						</a>
						<p class="goods-name">米家便携剃须刀 黑色</p>
						<p class="goods-price">169元</p>
						<p class="comment-qty">346人好评</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/fashpurchase-1.png" alt="">
						</a>
						<p class="goods-name">米家便携剃须刀 黑色</p>
						<p class="goods-price">169元</p>
						<p class="comment-qty">346人好评</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/fashpurchase-1.png" alt="">
						</a>
						<p class="goods-name">米家便携剃须刀 黑色</p>
						<p class="goods-price">169元</p>
						<p class="comment-qty">346人好评</p>
					</li>						
					<li class="content">							
						<a href="#flashpurcase">
							<img src="../static/images/fashpurchase-2.png" alt="">
						</a>
						<p class="goods-name">米家便携剃须刀 黑色</p>
						<p class="goods-price">169元</p>
						<p class="comment-qty">346人好评</p>
					</li>
					<li class="content">
						<a href="#flashpurcase">
							<img src="../static/images/fashpurchase-3.png" alt="">
						</a>
						<p class="goods-name">米家便携剃须刀 黑色</p>
						<p class="goods-price">169元</p>
						<p class="comment-qty">346人好评</p>
					</li>
					<li class="content">
						<a href="#flashpurcase">
							<img src="../static/images/fashpurchase-3.png" alt="">
						</a>
						<p class="goods-name">米家便携剃须刀 黑色</p>
						<p class="goods-price">169元</p>
						<p class="comment-qty">346人好评</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/fashpurchase-1.png" alt="">
						</a>
						<p class="goods-name">米家便携剃须刀 黑色</p>
						<p class="goods-price">169元</p>
						<p class="comment-qty">346人好评</p>
					</li>
					<li class="content">
						<a href="http://www.baidu.com">
							<img src="../static/images/fashpurchase-1.png" alt="">
						</a>
						<p class="goods-name">米家便携剃须刀 黑色</p>
						<p class="goods-price">169元</p>
						<p class="comment-qty">346人好评</p>
					</li>						
					<li class="content">							
						<a href="#flashpurcase">
							<img src="../static/images/fashpurchase-2.png" alt="">
						</a>
						<p class="goods-name">米家便携剃须刀 黑色</p>
						<p class="goods-price">169元</p>
						<p class="comment-qty">346人好评</p>
					</li>
					<li class="content">
						<a href="#flashpurcase">
							<img src="../static/images/fashpurchase-3.png" alt="">
						</a>
						<p class="goods-name">米家便携剃须刀 黑色</p>
						<p class="goods-price">169元</p>
						<p class="comment-qty">346人好评</p>
					</li>
					<li class="content">
						<a href="#flashpurcase">
							<img src="../static/images/fashpurchase-3.png" alt="">
						</a>
						<p class="goods-name">米家便携剃须刀 黑色</p>
						<p class="goods-price">169元</p>
						<p class="comment-qty">346人好评</p>
					</li>													
				</ul>
			</div>	
		</div>
		<div class="content-area">
			<div class="subject">
				<h2>内容</h2>
			</div>
			<div class="content-block">
				<div class="content-scroll">
					<p class="theme">图书</p>
					<ul class="small-scroll">
						<li>
							<p class="name"><a href="javascript:void(0);">哈利波特</a></p>
							<p class="desc"><a href="javascript:void(0);">“哈利·波特”第八个故事中文版震撼来袭！特别彩排版剧本！</a></p>
							<p class="price"><a href="javascript:void(0);">29.37元</a></p>
							<p class="detail-img">
								<a href="javascript:void(0);"><img src="../static/images/haryPotter.jpg" alt=""></a>
							</p>
						</li>
						<li>
							<p class="name"><a href="javascript:void(0);">哈利波特</a></p>
							<p class="desc"><a href="javascript:void(0);">“哈利·波特”第八个故事中文版震撼来袭！特别彩排版剧本！</a></p>
							<p class="price"><a href="javascript:void(0);">29.37元</a></p>
							<p class="detail-img">
								<a href="javascript:void(0);"><img src="../static/images/haryPotter.jpg" alt=""></a>
							</p>
						</li>
						<li>
							<p class="name"><a href="javascript:void(0);">哈利波特</a></p>
							<p class="desc"><a href="javascript:void(0);">“哈利·波特”第八个故事中文版震撼来袭！特别彩排版剧本！</a></p>
							<p class="price"><a href="javascript:void(0);">29.37元</a></p>
							<p class="detail-img">
								<a href="javascript:void(0);"><img src="../static/images/haryPotter.jpg" alt=""></a>
							</p>
						</li>																												
					</ul>
					<ol class="scroll-index">
						<li class="dot-active"></li>
						<li></li>
						<li></li>
					</ol>
					<div class="arrow">
			            <span class="xm_font icon-left"></span>
			            <span class="xm_font icon-right"></span>
			        </div>
				</div>
				<div class="content-scroll">
					<p class="theme">图书</p>
					<ul class="small-scroll">
						<li>
							<p class="name"><a href="javascript:void(0);">哈利波特</a></p>
							<p class="desc"><a href="javascript:void(0);">“哈利·波特”第八个故事中文版震撼来袭！特别彩排版剧本！</a></p>
							<p class="price"><a href="javascript:void(0);">29.37元</a></p>
							<p class="detail-img">
								<a href="javascript:void(0);"><img src="../static/images/haryPotter.jpg" alt=""></a>
							</p>
						</li>
						<li>
							<p class="name"><a href="javascript:void(0);">哈利波特</a></p>
							<p class="desc"><a href="javascript:void(0);">“哈利·波特”第八个故事中文版震撼来袭！特别彩排版剧本！</a></p>
							<p class="price"><a href="javascript:void(0);">29.37元</a></p>
							<p class="detail-img">
								<a href="javascript:void(0);"><img src="../static/images/haryPotter.jpg" alt=""></a>
							</p>
						</li>
						<li>
							<p class="name"><a href="javascript:void(0);">哈利波特</a></p>
							<p class="desc"><a href="javascript:void(0);">“哈利·波特”第八个故事中文版震撼来袭！特别彩排版剧本！</a></p>
							<p class="price"><a href="javascript:void(0);">29.37元</a></p>
							<p class="detail-img">
								<a href="javascript:void(0);"><img src="../static/images/haryPotter.jpg" alt=""></a>
							</p>
						</li>																												
					</ul>
					<ol class="scroll-index">
						<li class="dot-active"></li>
						<li></li>
						<li></li>
					</ol>
					<div class="arrow">
			            <span class="xm_font icon-left"></span>
			            <span class="xm_font icon-right"></span>
			        </div>
				</div>
				<div class="content-scroll">
					<p class="theme">图书</p>
					<ul class="small-scroll">
						<li>
							<p class="name"><a href="javascript:void(0);">哈利波特</a></p>
							<p class="desc"><a href="javascript:void(0);">“哈利·波特”第八个故事中文版震撼来袭！特别彩排版剧本！</a></p>
							<p class="price"><a href="javascript:void(0);">29.37元</a></p>
							<p class="detail-img">
								<a href="javascript:void(0);"><img src="../static/images/haryPotter.jpg" alt=""></a>
							</p>
						</li>
						<li>
							<p class="name"><a href="javascript:void(0);">哈利波特</a></p>
							<p class="desc"><a href="javascript:void(0);">“哈利·波特”第八个故事中文版震撼来袭！特别彩排版剧本！</a></p>
							<p class="price"><a href="javascript:void(0);">29.37元</a></p>
							<p class="detail-img">
								<a href="javascript:void(0);"><img src="../static/images/haryPotter.jpg" alt=""></a>
							</p>
						</li>
						<li>
							<p class="name"><a href="javascript:void(0);">哈利波特</a></p>
							<p class="desc"><a href="javascript:void(0);">“哈利·波特”第八个故事中文版震撼来袭！特别彩排版剧本！</a></p>
							<p class="price"><a href="javascript:void(0);">29.37元</a></p>
							<p class="detail-img">
								<a href="javascript:void(0);"><img src="../static/images/haryPotter.jpg" alt=""></a>
							</p>
						</li>																												
					</ul>
					<ol class="scroll-index">
						<li class="dot-active"></li>
						<li></li>
						<li></li>
					</ol>
					<div class="arrow">
			            <span class="xm_font icon-left"></span>
			            <span class="xm_font icon-right"></span>
			        </div>
				</div>
				<div class="content-scroll">
					<p class="theme">图书</p>
					<ul class="small-scroll">
						<li>
							<p class="name"><a href="javascript:void(0);">哈利波特</a></p>
							<p class="desc"><a href="javascript:void(0);">“哈利·波特”第八个故事中文版震撼来袭！特别彩排版剧本！</a></p>
							<p class="price"><a href="javascript:void(0);">29.37元</a></p>
							<p class="detail-img">
								<a href="javascript:void(0);"><img src="../static/images/haryPotter.jpg" alt=""></a>
							</p>
						</li>
						<li>
							<p class="name"><a href="javascript:void(0);">哈利波特</a></p>
							<p class="desc"><a href="javascript:void(0);">“哈利·波特”第八个故事中文版震撼来袭！特别彩排版剧本！</a></p>
							<p class="price"><a href="javascript:void(0);">29.37元</a></p>
							<p class="detail-img">
								<a href="javascript:void(0);"><img src="../static/images/haryPotter.jpg" alt=""></a>
							</p>
						</li>
						<li>
							<p class="name"><a href="javascript:void(0);">哈利波特</a></p>
							<p class="desc"><a href="javascript:void(0);">“哈利·波特”第八个故事中文版震撼来袭！特别彩排版剧本！</a></p>
							<p class="price"><a href="javascript:void(0);">29.37元</a></p>
							<p class="detail-img">
								<a href="javascript:void(0);"><img src="../static/images/haryPotter.jpg" alt=""></a>
							</p>
						</li>																												
					</ul>
					<ol class="scroll-index">
						<li class="dot-active"></li>
						<li></li>
						<li></li>
					</ol>
					<div class="arrow">
			            <span class="xm_font icon-left"></span>
			            <span class="xm_font icon-right"></span>
			        </div>
				</div>																					
			</div>
		</div>
		<div class="video-area">
			<div class="subject">
				<h2>视频</h2>
				<a class="see-all" href="#" >查看全部<b class="roundright">></b></a>
			</div>
			<div class="video-group">
				<div class="video">
					<img src="../static/images/fire.jpg" alt="">
					<div class="xm_font icon-play"></div>
					<div class="video-desc">
						<p>一团火</p>
						<p>小米创业8年内部纪录片（手机篇）</p>
					</div>
				</div>
				<div class="video">
					<img src="../static/images/fire.jpg" alt="">
					<div class="xm_font icon-play"></div>
					<div class="video-desc">
						<p>一团火</p>
						<p>小米创业8年内部纪录片（手机篇）</p>
					</div>
				</div>
				<div class="video">
					<img src="../static/images/fire.jpg" alt="">
					<div class="xm_font icon-play"></div>
					<div class="video-desc">
						<p>一团火</p>
						<p>小米创业8年内部纪录片（手机篇）</p>
					</div>
				</div>
				<div class="video">
					<img src="../static/images/fire.jpg" alt="">
					<div class="xm_font icon-play"></div>
					<div class="video-desc">
						<p>一团火</p>
						<p>小米创业8年内部纪录片（手机篇）</p>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>
<ul class="pendant-r-s">
	<li>
		<a href="/user">
		   <i class="xm_font icon-portrait"></i><br>
		   <span>个人中心</span>
		</a>
	</li>
	<li>
		<a href="/service">
			<i class="xm_font icon-earphone"></i><br>
			<span>联系客服</span>
		</a>
	</li>
	<li>
		<a href="/cart">
			<i class="xm_font icon-cart"></i><br>
			<span>购物车<span>()</span></span>
		</a>
		<span class="item-qty"></span>
	</li>
	<li class="scroll-top">
		<a href="javascript:void(0);">
			<i class="xm_font icon-top"></i><br>
			<span>回顶部</span>
		</a>

	</li>
</ul>	
<div id="mask">
	<div class="modal-group">
		<div class="modal-login">
			<form action="/index/login" method="post" id="loginForm">
				<span class="close">x</span>
				<label for="">
					用户名：<br>
					<input type="text" name="userName">
					<span class="error">用户名不存在</span>
				</label>
				<br>
				<label for="">
					密码：<br>
					<input type="password" name="userPwd">
					<span class="error">密码错误</span>
				</label>
				<br>					
				<input type="submit" value="登录">					
			</form>
			<div class="warning-message">
			</div>
		</div>
	</div>
</div>

{{/block}}

{{#block ("script-footer")}}
<script src="/static/js/index.js"></script>

<script type="text/javscript">
	var $form  = $("#loginForm");
	$form.on('submit',function(e){
		e.preventDefault();
		var url =$(this).attr('action');
		var methods = $(this).attr('methods');
		$.ajax({
			url:url,
			type:method,
			data:$form.serialize(),
			dataType:'json',
			success: function (response){
				if(response.data.status === '0'){
				    window.location.href = '/index';
				}
			}
		})
	})

</script>
{{/block}}
