<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>mi-shop</title>
</head>
<link rel="shortcur icon" href="/static/images/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/font/iconfont.css">
<link rel="stylesheet" type="text/css" href="/static/css/basic.css">
<link rel="stylesheet" type="text/css" href="/static/css/footer.css">
{{{block ("link-head")}}}
<body>
{{{block ("main")}}}

{{include ("./foot")}}
</body>
<script src="/static/jquery/dist/jquery.js"></script>
<script src="/static/js/basic.js"></script> 
{{{block ("script-footer")}}}
</html>