.cart-top{
	width:100%;
	height:48px;
	background:#fff;
	border-bottom:2px solid #ff6b00;
	margin:0 auto;
	padding:26px 0;
}
.cart-milogo{
	float:left;
}
.cart-milogo>a{
	width:48px;
	height:48px;
	display:block;
	float:left;
	font-size:0;
	line-height:0;
	margin-right:38px;
}
.cart-milogo img{
	width:48px;
	height:48px;
}
.cart-top-desc{
	float:left;
}
.cart-top-desc h2{
	float:left;
	font-size:28px;
	line-height:48px;
	margin-right:20px;
}
.cart-top-desc p{
	float:left;
	font-size:12px;
	color:#888;
	padding-top:22px;
}
.cart-info{
	float:right;
	color:#888;
	text-align:right;
	position:relative;
	font-size:10px;

}
.cart-infoRight{
	float:right;
	width:48px;
	margin-left:5px;
	line-height:48px;
}
.cart-infoRight a{
	color:#888;
}
.cart-infoRight a:hover{
	color:#ff6b00;
}
.item-list{
	background:#fff;
}
.item-detail{
	padding:0 26px;
	margin-top:30px;
}
.item-detail>li{
	border-bottom:1px solid #eee;
	line-height:116px;
	text-align:left;
	width:1174px;
/* 	height:116px; */
}
.item-detail>li:after{
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.always-show div,.checked-show div{
	float:left;
	text-align:center;
}

.check{
	width:78px;
}
.item-img{
	width:128px;
}
 .item-detail .item-name{
	width:382px;
	text-align:left;
}
.price{
	width:156px;
}
.qty{
	width:152px;
}
.subtotal{
	width:195px;
}
.delete{
	width:82px;
 }

.item-detail>li:nth-child(n+2) .qty{
 	height:40px;
	padding:38px 0;
	line-height:40px;
}
.item-detail input[type="checkbox"]{
    width: 20px;
    height: 20px;
    background-color: #fff;
    -webkit-appearance:none;
    border: 1px solid #c9c9c9;
    outline: none;
    line-height:18px;
    display:block;
    float:left;
    margin-top:48px;
    position:relative;
}
.item-detail  input[type="checkbox"]:checked::before {
    color:white;
    background-color:#ff6b00;
    content: '\2714';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 20px;
    height: 20px;
    line-height:20px;
    text-align: center;
    font-size:18px;
     border:1px solid #ff6b00;      
}
.item-detail .goods-top{
	height:20px;
	padding:25px 0;
	line-height:20px;
}
.goods-top input[type='checkbox']{
	margin-right:10px;
	margin-top:0;
}
.item-img a{
	display:block;
	width:128px;
	padding-top:20px;
	height:96px;
}
.item-name a{
	font-size:18px;
}
.always-show a img{
	width:60px;
	height:72px;
}
.goods-top .item-name{
	padding-left:128px;
}
.qty span{
	display:block;
	width:38px;
	height:38px;
	border-top:1px solid #c9c9c9;
	border-bottom:1px solid #c9c9c9;
	line-height:38px;
	float:left;
	font-weight:800;
}
.qty input{
	width:62px;
	outline:none;
	text-align:center;
	border:1px solid #c9c9c9;
	height:28px;
	display:block;
	float:left;
	border-left:none;
	border-right:none;
	font-size:14px;
	padding:5px;

}
.minus{
	border-left:1px solid #c9c9c9;
}
.plus{
	border-right:1px solid #c9c9c9;
}
.qty span:hover{
	background:#ccc;
	cursor:pointer;
}
.always-show{
	height:116px;
}
.checked-show {
	padding-left:78px;
	height:96px;
}
.checked-show li{
	background:#f5f5f5;
	height:96px;
	margin-bottom:15px;
	line-height:96px;
	position:relative;
}
.item-detail>li:nth-last-child(-n+2) .checked-show .qty{
	line-height:96px;
	padding:0;
}
.checked-show li:after{
	position:absolute;
	content:"";
	display:block;
	border-width:12px;
	border-style:solid;
	border-color:transparent transparent #f5f5f5  transparent;
	bottom:96px;
	left:52px;
}
.checked-show .item-name{
	padding-top:22px;
	height:74px;
	line-height:30px;
}
.checked-show .item-name p{
	width:60px;
	height:18px;
	background:red;
	color:#fff;
	line-height:18px;
	text-align:center;
	margin-bottom:5px;
}
.checked-show .item-name a{
    font-size:16px;
    line-height:16px;
}

.cart-check{
	margin:15px 0;
	width:1226px;
	height:50px;
	background:#fff;
	line-height:50px;
}
.cart-check>div{
	float:left;

}
.continue{
	width:108px;
	text-align:right;
	line-height:50px;
}
.continue span{
	margin-left:20px;
	color:#bbb;
}
.checked-state{
	width:558px;
	padding-left:20px;
}
.checked-state span{
	color:#ff6b00;
	margin:0 5px;
}
.total-discount{
	width:148px;
}
.total-discount span{
	margin-left:10px;
	color:#bbb;
}
.grand-total{
	color:#ff6b00;
	margin-left:10px;
	width:124px;
	line-height:44px;
	width:180px;
}
.grand-total span{
	font-size:28px;
}
.checkout{
	width:202px;
	background:#ff6b00;
	text-align:center;
	font-size:20px;
}
.checkout a{
	color:#fff;
}
.buy-else{
	
	
}
.buy-else h2{
	width:1226px;
	line-height:100px;
	text-align:center;
	position:relative;
}
.buy-else h2:before{
	content:"";
	width:372px;
	height:1px;
	position:absolute;
	left:0;
	top:49px;
	background:#ddd;
}
.buy-else h2:after{
	content:"";
	width:372px;
	height:1px;
	position:absolute;
	right:0;
	top:49px;
	background:#ddd;
}

.buy-else h2 p{
	margin:0 62px;
	font-size:30px;
	color:#666;
}
.buy-else-items{
	width:1226px;
	height:628px;
	overflow:hidden;
	margin-bottom:54px;
}
.buy-else-items li{
	background:#fff;
	width:234px;
	height:300px;
	margin-bottom:14px;
	margin-right:14px;
	float:left;
	text-align:center;
	position:relative;
}
.buy-else-items li:nth-child(5n){
	margin-right:0;
}
.buy-else-items li:first-child a{
	padding:0;
	width:0;
	height:0;
}
.buy-else-items li>a{
	display:table-cell;
	width:100px;
	height:120px;
	padding:48px 67px 20px 67px;
    vertical-align: middle;
	text-align:center;
}
.buy-else-items .name{
	color:#000;
}
.buy-else-items .name:hover a{
	color:#000;
}
.buy-else-items .price{
	width:100%;
	color:#ff6b00;
	line-height:30px;
	font-size:12px;
}
.buy-else-items .comments{
	color:#bbb;
	line-height:30px;
	font-size:14px;
}
.buy-else-items .add-to-cart a{
	display:block;
	width:120px;
	height:28px;
	border:1px solid #ff6b00;
	background:#fff;
	line-height:28px;
	color:#ff6b00;
	display:none;
	position:absolute;
	left:57px;
	bottom:11px;
}
.buy-else-items li:hover .add-to-cart a{
	display:block;
}
.buy-else-items .add-to-cart:hover a{
	background:#ff6b00;
	color:#fff;
	cursor:pointer;
}
.buy-else-items .add-success{
	width:100%;
	height:40px;
	position:absolute;
	top:0;
	left:0;
	background:#88d655;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:16px;
}

